<!doctype html>
<html lang="en">
  <head>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/0.12.14/vue.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style.css">
      
      <title>TracksBot</title>
  </head>
    
  <body>
	<div class="container">
        
		<div class="row mt-5">
			<div class="overflow-auto col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-12 comments-main pt-4 rounded chatbox">

				<ul class="p-0" id="chatBox">
					
				</ul>
				
                <div class="row comment-box-main p-3 rounded-bottom">
			  		<div class="col-md-9 col-sm-9 col-9 pr-0 comment-box">
					  <input id="textInput" type="text" name="textInput" class="form-control" placeholder="Respond ..." disabled/>
			  		</div>
			  		<div class="col-md-3 col-sm-2 col-2 pl-0 text-center send-btn">
			  			<input id="buttonInput" type="submit" value="Send" class="btn btn-info" disabled>
			  			<input id="ownerId" name="ownerId" value="0" hidden>
			  		</div>
				</div>
			</div>
		</div>
	</div>
  </body>
  
  <script>
      
      var numberOfQuestions = 8;      
      var currentQuestion = 0;
      
      $( document ).ready(function() {          
          setTimeout(function(){
            $.get("/start", function(data){
                postReply("bot", data);
                $('#textInput').prop("disabled", true);
                $('#buttonInput').prop("disabled", true);
                
                //ask questions
                setTimeout(function(){
                    if (currentQuestion <= numberOfQuestions) {
                        getBotQuestion(currentQuestion);
                    }                  
                }, 1300);
              });
          }, 600);
          
          
        });
      
      function getBotQuestion(questionNumber){
          $('#textInput').prop("disabled", true);
          $('#buttonInput').prop("disabled", true);
          
          var url = "/ask/" + questionNumber;
          $.get(url, function(data){
            if (questionNumber == "5"){
                textList = data.replace('[', '').replace(']', '').split(',');
                timeDelayList = [1000, 3000, 3000, 1000, 5000]; //adjust it better than that to be more natural
                
                var i = 0;
                function myLoop(textList){
                    
                    setTimeout(function () {
                        data = textList[i].replace('*', ',').replace("'", "").replace("'", "").replace('*', ',');
                        postReply("bot", data);
                        i++;
                        if (i < textList.length) {
                           myLoop(textList);
                           $('#textInput').prop("disabled", true);
                           $('#buttonInput').prop("disabled", true);
                        }
                     }, timeDelayList[i], textList)
                }
                
                myLoop(textList);

            }else{
                postReply("bot", data);
            } 
            
            
                
            $('#textInput').prop("disabled", false);
            $('#buttonInput').prop("disabled", false);
            var input = document.getElementById('textInput');
            setInputPos(input, input.value.length);
                
              });
      }
      
       function ownerAnswer(questionNumber, ownerId){
           var rawText = $("#textInput").val();
           postReply("owner", rawText);

           url = "/answer/" + questionNumber + "/" + $('#ownerId').val();;
           $.get(url, {msg: rawText}).done(function(data) {
               $('#ownerId').attr('value', data);
               
               //ask questions
                setTimeout(function(){
                    if (currentQuestion <= numberOfQuestions) {
                        getBotQuestion(currentQuestion)
                    }                  
                }, 1000);
               document.getElementById('textInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });

       }
      
      function setInputSelection(input, startPos, endPos) {
            if (input.setSelectionRange) {
                input.focus();
                input.setSelectionRange(startPos, endPos);
            } else if (input.createTextRange) {
                var range = input.createTextRange();
                range.collapse(true);
                range.moveEnd('character', endPos);
                range.moveStart('character', startPos);
                range.select();
            }
        }

        function setInputPos(input, pos) {
            setInputSelection(input, pos, pos);
        }
      
       $("#textInput").keypress(function(e) {
          if(e.which == 13){
              if(currentQuestion == "5"){
                  //get the group number
                  var groupsNumber = $("#textInput").val();
                  postReply("owner", groupsNumber);
                  
                  //loop over truck quesions
                  currentQuestion += 1;
                  groupsNumber = parseInt(groupsNumber, 10);
                  for(var i = 0; i<groupsNumber; i++){
                      getBotQuestion(currentQuestion);
                      currentQuestion += 1;
                  }
              }else{
                ownerAnswer(currentQuestion, $('#ownerId').val());
                currentQuestion += 1;
              }
           
        }});
      
       $("#buttonInput").click(function(){
            ownerAnswer(currentQuestion, $('#ownerId').val());
            currentQuestion += 1;
       });
      
      function postReply(replyer, data){
          if(replyer == "bot"){
                botHtml = '<li><div class="row comments mb-2">'+
                        '<div class="col-md-2 col-sm-2 col-2 text-center user-img">'+
                            '<img id="profile-photo" src="http://nicesnippets.com/demo/man01.png" class="rounded-circle"/>'+
                        '</div>'+
                        '<div class="col-md-8 offset-1 col-sm-8 offset-1 col-8 offset-1 comment rounded mb-2">'+
                            '<h4 class="m-0">Tracks</h4>'+
                            '<time class="text-white ml-3">1 month ago</time>'+
                            '<like></like>'+
                            '<p class="mb-0 text-white">'+data+'</p>'+
                        '</div>'+
                    '</div></li>';
                $("#chatBox").append(botHtml);    
          
              $('#textInput').prop("disabled", false);
              $('#buttonInput').prop("disabled", false);
              var input = document.getElementById('textInput')
              setInputPos(input, input.value.length);
          }else{
              var ownerHtml ='<li><div class="row comments mb-2">	'+							
                        '<div class="col-md-8 offset-1 col-sm-8 offset-1 col-8 offset-1 comment rounded mb-2">'+
                            '<h4 class="m-0">You</h4>'+
                            '<time class="text-white ml-3">1 min ago</time>'+
                            '<like></like>'+
                            '<p class="mb-0 text-white">'+ data +'</p>'+
                        '</div>'+
                        '<div class="col-md-2 col-sm-2 col-2 text-center user-img">'+
                            '<img id="profile-photo" src="http://nicesnippets.com/demo/man04.png" class="rounded-circle"/>'+
                        '</div>'+
                    '</div></li>';
               $("#textInput").val("");
               $("#chatBox").append(ownerHtml);
              
              $('#textInput').prop("disabled", true);
              $('#buttonInput').prop("disabled", true);
          }
           
           document.getElementById('textInput').scrollIntoView({block: 'start', behavior: 'smooth'});
      }

  </script>
</html>