<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style.css">
      
    <title>TracksBot</title>
  </head>
    
  <body>
	<div class="container">
        
		<div class="row mt-5">
            <div id="seeYouSoon" style="display: none"><h1>See you soon!</h1></div>
			<div id="chatDiv" style="display: block" class="overflow-auto col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-12 comments-main pt-4 rounded chatbox">
				                    
                <ul class="p-0" id="chatBox">
					

				</ul>
                
				
                <div class="row comment-box-main p-3 rounded-bottom">
			  		<div class="col-md-9 col-sm-9 col-9 pr-0 comment-box">
					  <input id="textInput" type="text" name="textInput" class="form-control" placeholder="Respond ..." disabled/>
			  		</div>
			  		<div class="col-md-3 col-sm-2 col-2 pl-0 text-center send-btn">
			  			<input id="buttonInput" type="submit" value="Send" class="btn btn-info" disabled>
			  			<input id="fleetId" name="fleetId" value="0" hidden>
			  			<input id="truckId" name="truckId" value="0" hidden>
			  		</div>
				</div>
                
			</div>
		</div>
	</div>
  </body>
  
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/0.12.14/vue.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/script.js"></script>
  
</html>